In [50]:
import numpy as np
import pandas as pd
import itertools
from __future__ import division
from sklearn.tree import DecisionTreeClassifier, export_graphviz

%matplotlib inline

In [5]:
filePath = 'datasets/NYPD_Motor_Vehicle_Collisions.csv'
colls = pd.read_csv(filePath)

In [13]:
colls = colls.head(256)
colls.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/14/2016,3:27,QUEENS,11372,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,...,NaN,NaN,NaN,NaN,3405169,OTHER,NaN,NaN,NaN,NaN
1,03/14/2016,2:00,NaN,NaN,NaN,NaN,NaN,PULASKI BRIDGE,EAGLE STREET,NaN,...,Unspecified,NaN,NaN,NaN,3405134,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
2,03/14/2016,2:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3405070,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3,03/14/2016,0:45,MANHATTAN,10035,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3405059,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,03/13/2016,23:00,BROOKLYN,11206,40.706653,-73.950406,"(40.7066527, -73.9504063)",UNION AVENUE,MONTROSE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3405121,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [48]:
data = colls[pd.notnull(colls['ZIP CODE'])]
test_idx = [0, 128, 255]

data_mod = data.copy()
targets = data_mod['ZIP CODE'].unique()
map_to_int_target = {name: n for n, name in enumerate(targets)}
data_mod["Target"] = data_mod['ZIP CODE'].replace(map_to_int_target)

features = list(data_mod.columns[:3])
features

['DATE', 'TIME', 'BOROUGH']

In [53]:
# Fitting the data
y = data_mod["Target"]
X = data_mod[features]
dt = DecisionTreeClassifier()
dt.fit(X, y)

ValueError: could not convert string to float: QUEENS

In [56]:
X

           DATE   TIME        BOROUGH
0    03/14/2016   3:27         QUEENS
3    03/14/2016   0:45      MANHATTAN
4    03/13/2016  23:00       BROOKLYN
6    03/13/2016   9:48       BROOKLYN
9    03/13/2016   9:46         QUEENS
11   03/13/2016  16:00         QUEENS
12   03/13/2016  15:20         QUEENS
14   03/13/2016  15:20      MANHATTAN
15   03/13/2016   9:15  STATEN ISLAND
18   03/13/2016  15:15      MANHATTAN
19   03/13/2016  15:10       BROOKLYN
20   03/13/2016  14:52          BRONX
21   03/13/2016  14:45      MANHATTAN
23   03/13/2016   9:15         QUEENS
24   03/13/2016  14:43      MANHATTAN
25   03/13/2016  14:43       BROOKLYN
28   03/13/2016  14:37       BROOKLYN
29   03/13/2016   9:10      MANHATTAN
32   03/13/2016   9:00      MANHATTAN
33   03/13/2016  14:30       BROOKLYN
35   03/13/2016   8:20       BROOKLYN
36   03/13/2016   8:15      MANHATTAN
37   03/13/2016  14:30       BROOKLYN
38   03/13/2016  14:28          BRONX
40   03/13/2016  14:20       BROOKLYN
41   03/13/2016  14:14       BROOKLYN
42   03/13/2016   8:10          BRONX
44   03/13/2016  20:50      MANHATTAN
45   03/13/2016   8:00       BROOKLYN
47   03/13/2016  14:00         QUEENS
..          ...    ...            ...
216  03/13/2016   1:24      MANHATTAN
218  03/13/2016  19:10      MANHATTAN
219  03/13/2016   1:21       BROOKLYN
221  03/13/2016  21:00       BROOKLYN
222  03/13/2016   1:15          BRONX
223  03/13/2016  20:45       BROOKLYN
224  03/13/2016   1:10       BROOKLYN
225  03/13/2016   1:05      MANHATTAN
226  03/13/2016  11:30      MANHATTAN
230  03/13/2016  21:41         QUEENS
231  03/13/2016  19:55         QUEENS
232  03/13/2016  19:50          BRONX
233  03/13/2016   0:10       BROOKLYN
235  03/13/2016  18:20         QUEENS
236  03/13/2016   0:03      MANHATTAN
237  03/13/2016  19:49      MANHATTAN
238  03/13/2016  19:15      MANHATTAN
240  03/13/2016  11:00      MANHATTAN
241  03/13/2016   0:20         QUEENS
242  03/13/2016  18:13      MANHATTAN
244  03/13/2016  18:00         QUEENS
245  03/13/2016  18:28      MANHATTAN
246  03/13/2016  10:40         QUEENS
247  03/13/2016  18:00         QUEENS
248  03/13/2016  17:58       BROOKLYN
250  03/13/2016  17:47      MANHATTAN
251  03/13/2016  20:45          BRONX
252  03/13/2016   0:01          BRONX
253  03/13/2016  21:51  STATEN ISLAND
254  03/13/2016  17:40         QUEENS

[195 rows x 3 columns]