In [1]:
import numpy as np
import pandas as pd
import itertools
from __future__ import division

In [2]:
meter_path = 'datasets/parkomat.csv'
meter_transition_path = 'datasets/parkomat-transaktioner-2014.csv'

meters = pd.read_csv(meter_path)
meter_trans = pd.read_csv(meter_transition_path)

In [3]:
meters.head()

,FID,wkb_geometry,id,parkomat_id,type,vejkode,p_zone,beboer_zone,vejnavn,husnr,placering,ejerlavkode,opret_dato,ret_dato
0,parkomat.0,POINT (12.572665592562222 55.67900255632159),467,152,P-info,1396,RØD,NV,DYRKØB,5,NaN,2000173,2010-03-01T00:00:00,2015-12-05T22:34:03
1,parkomat.1,POINT (12.572937473827633 55.67921596332571),466,153,Betalingsautomat,1396,Rød,NV,Dyrkøb,OF/3,NaN,2000160,2010-03-01T00:00:00,2015-12-05T22:34:03
2,parkomat.2,POINT (12.566107871340106 55.67782743364014),470,156,Betalingsautomat,148,RØD,RH,H C ANDERSENS BOULEVARD,9,Eksisterende fortovsø,2000179,2010-03-01T00:00:00,2015-12-05T22:34:03
3,parkomat.3,POINT (12.56557653640952 55.678517044686515),471,157,Betalingsautomat,3348,RØD,NV,JARMERS PLADS,7,Eksisterende fortovsø,2000179,2010-03-01T00:00:00,2015-12-05T22:34:03
4,parkomat.4,POINT (12.566308187377208 55.67917067888057),472,158,P-info,5220,RØD,NV,NØRRE VOLDGADE,OF/6,NaN,2000179,2010-03-01T00:00:00,2015-12-05T22:34:03

In [18]:


transactionCount = pd.value_counts(meter_trans['tlPDM'].values, sort=True)

print transactionCount[1259]
transactionCount

3363

1597     33094
1286     31251
156      29640
2737     27250
2153     27111
152      27045
2184     26685
2881     26335
153      26050
2735     25412
2736     25067
1287     23775
4098     23460
1296     23334
4416     23320
3437     22987
4116     22108
2343     22007
2142     21825
3868     21823
3593     21712
3883     21616
8154     21422
3865     20777
1284     20774
2149     20649
4130     20307
1035     20216
1288     19848
3967     19539
         ...
1250       375
8212       374
1195       365
2286       350
4152       349
8173       337
3188       329
4288       296
2268       292
3717       287
1197       278
4252       253
4323       251
4389       243
4380       222
2222       221
4378       205
1196       137
2267       124
4376       103
3035        97
2253        66
2248        56
2252        51
8019        50
2247        21
69694       10
8025         3
2217         2
8022         1
dtype: int64