In [35]:
import numpy as np
import pandas as pd
import itertools
from __future__ import division
import geoplotlib as glp
from geoplotlib.utils import BoundingBox, DataAccessObject

%matplotlib inline
pd.set_option('display.max_columns', 500)

In [11]:
glp.geojson('datasets/zip_districts.json')
glp.geojson('datasets/intersection_fixed.geojson')
glp.inline()

In [36]:
filePath = 'datasets/NYPD_Motor_Vehicle_Collisions.csv'

collisions = pd.read_csv(filePath)
collisions = collisions[pd.notnull(collisions.BOROUGH)]
collisions.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/14/2016,3:27,QUEENS,11372,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3405169,OTHER,NaN,NaN,NaN,NaN
3,03/14/2016,0:45,MANHATTAN,10035,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3405059,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,03/13/2016,23:00,BROOKLYN,11206,40.706653,-73.950406,"(40.7066527, -73.9504063)",UNION AVENUE,MONTROSE AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3405121,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
6,03/13/2016,9:48,BROOKLYN,11212,40.661997,-73.919593,"(40.661997, -73.9195931)",KINGS HIGHWAY,EAST 98 STREET,NaN,0,0,0,0,0,0,0,0,Passenger Distraction,Unspecified,NaN,NaN,NaN,3404744,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
9,03/13/2016,9:46,QUEENS,11106,40.756580,-73.929752,"(40.75658, -73.9297516)",36 AVENUE,31 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3404995,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [26]:
collisions['CROSS STREET NAME'].value_counts()

3 AVENUE                  9076
BROADWAY                  8947
2 AVENUE                  8309
5 AVENUE                  6937
8 AVENUE                  6471
7 AVENUE                  6388
1 AVENUE                  5116
PARK AVENUE               4290
LEXINGTON AVENUE          4206
6 AVENUE                  4056
9 AVENUE                  3514
MADISON AVENUE            3477
AMSTERDAM AVENUE          2915
10 AVENUE                 2592
ATLANTIC AVENUE           2562
4 AVENUE                  2402
LINDEN BOULEVARD          2282
NORTHERN BOULEVARD        2232
JAMAICA AVENUE            2018
BEDFORD AVENUE            1947
11 AVENUE                 1939
NOSTRAND AVENUE           1936
QUEENS BOULEVARD          1717
FULTON STREET             1667
MYRTLE AVENUE             1628
COLUMBUS AVENUE           1501
HILLSIDE AVENUE           1459
LENOX AVENUE              1446
YORK AVENUE               1380
AVENUE OF THE AMERICAS    1346
                          ...
UNCAS AVENUE                 1
GREENWOOD COURT              1
MANCHESTER DRIVE             1
GRYMES HILL ROAD             1
TURNER AVENUE                1
THROGS NECK BOULEVARD        1
NORTHPORT LANE               1
RAE AVENUE                   1
LENHART STREET               1
TALLMAN STREET               1
FORD PLACE                   1
DOE PLACE                    1
GIANNA COURT                 1
REYNOLDS COURT               1
PINTO STREET                 1
NOBLE PLACE                  1
HOWARD LANE                  1
KEUNE COURT                  1
IVAN COURT                   1
O'DONNELL ROAD               1
BLEEKER PLACE                1
SHORTHILL ROAD               1
CATHERINE LANE               1
WEEHAWKEN STREET             1
HALLISTER STREET             1
LITTLE NECK BOULEVARD        1
CROSS BAY PARKWAY            1
PATRICIA LANE                1
SEAVIEW COURT                1
HIGHLAND ROAD                1
Name: CROSS STREET NAME, dtype: int64

In [21]:
mask = ((collisions['CROSS STREET NAME'] == 'BUSHWICK AVENUE') & (collisions['ON STREET NAME'] == 'COOK STREET'))
#mask = ((collisions['CROSS STREET NAME'] == 'BUSHWICK AVENUE'))

bushwick = collisions[mask]
bushwick

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1756,03/10/2016,19:50,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3403113,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
34542,01/13/2016,9:16,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3370214,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
293764,10/31/2014,10:45,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,2988824,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
320282,09/15/2014,11:20,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,1025079,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
430880,03/04/2014,10:35,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,198093,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [22]:
locationMask = (collisions.LOCATION == '(40.702713, -73.9373173)')

collisions[locationMask]

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1756,03/10/2016,19:50,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3403113,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
34542,01/13/2016,9:16,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3370214,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
51117,12/15/2015,11:27,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,3353634,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
112098,09/08/2015,14:00,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,NaN,NaN,NaN,NaN,3292475,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
219952,03/11/2015,19:45,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,NaN,NaN,NaN,NaN,3185087,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
278604,11/25/2014,18:48,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,3125844,UNKNOWN,UNKNOWN,NaN,NaN,NaN
293764,10/31/2014,10:45,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,2988824,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
299495,10/21/2014,18:40,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,2812044,SMALL COM VEH(4 TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
320282,09/15/2014,11:20,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,1025079,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
396155,05/07/2014,15:00,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,332149,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
415798,04/02/2014,9:00,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,314729,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
430880,03/04/2014,10:35,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",COOK STREET,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,198093,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
435349,02/23/2014,9:05,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,198017,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
445482,02/05/2014,21:08,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,NaN,NaN,NaN,NaN,197870,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
474202,12/14/2013,18:15,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,197481,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
481966,12/01/2013,7:10,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,197407,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
519343,09/27/2013,11:00,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,196913,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
534001,09/02/2013,11:50,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,196742,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
570941,06/27/2013,19:10,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,196308,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
577875,06/15/2013,22:50,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Prescription Medication,NaN,NaN,NaN,196205,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
616853,04/10/2013,19:55,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,195692,PASSENGER VEHICLE,SCOOTER,NaN,NaN,NaN
653593,01/30/2013,14:59,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,195231,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
656320,01/25/2013,20:13,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,195205,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN
729433,09/11/2012,12:54,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,194319,OTHER,VAN,NaN,NaN,NaN
746593,08/10/2012,13:30,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Other Vehicular,Unspecified,NaN,NaN,194110,SPORT UTILITY / STATION WAGON,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN
762838,07/12/2012,15:30,BROOKLYN,11206,40.702713,-73.937317,"(40.702713, -73.9373173)",BUSHWICK AVENUE,COOK STREET,NaN,...,Unspecified,NaN,NaN,NaN,193913,UNKNOWN,BICYCLE,NaN,NaN,NaN

In [38]:
locationsCounts = collisions.LOCATION.value_counts()
locationsCountsFrame  = locationsCounts.to_frame()
locationsCountsFrame
#locationsCountsFrame.count

                           LOCATION
(40.6960346, -73.9845292)       585
(40.7606005, -73.9643142)       472
(40.7572323, -73.9897922)       455
(40.6757357, -73.8968533)       433
(40.6585778, -73.8906229)       417
(40.7203211, -73.9940403)       368
(40.7334973, -73.8703694)       354
(40.7602226, -73.967462)        353
(40.7584292, -73.9926328)       350
(40.7509908, -73.9906233)       347
(40.820189, -73.8906752)        334
(40.7595273, -73.999242)        334
(40.759308, -73.9652931)        332
(40.8100528, -73.9251435)       329
(40.7241363, -73.9926041)       324
(40.7460781, -73.9749359)       322
(40.8571285, -73.8807926)       319
(40.7560353, -73.9869481)       317
(40.7832478, -73.9447234)       313
(40.7615508, -73.9665842)       311
(40.6528929, -73.8667311)       307
(40.680015, -73.8774282)        302
(40.74478, -73.9758819)         298
(40.7548409, -73.9841185)       292
(40.8027515, -73.933575)        287
(40.6781627, -73.8974769)       286
(40.6631828, -73.9624487)       284
(40.7502939, -73.9948425)       284
(40.6687978, -73.9311201)       282
(40.7193963, -74.0018831)       282
...                             ...
(40.5846495, -73.8224081)         1
(40.6239387, -74.0241357)         1
(40.8684337, -73.8587317)         1
(40.7922087, -73.8407857)         1
(40.6844982, -73.8809931)         1
(40.5678095, -74.1210126)         1
(40.7413739, -73.9725075)         1
(40.8065079, -73.8546441)         1
(40.5830492, -74.0870729)         1
(40.8330297, -73.8754298)         1
(40.7782419, -73.8415917)         1
(40.6760424, -73.9055881)         1
(40.7729933, -73.8069804)         1
(40.7245832, -73.942427)          1
(40.7038148, -73.8674264)         1
(40.7617711, -73.8680908)         1
(40.7697054, -73.9139932)         1
(40.6857694, -73.9480529)         1
(40.7589027, -73.7857856)         1
(40.6792757, -73.8929433)         1
(40.7876315, -73.8226684)         1
(40.5753065, -73.8496001)         1
(40.6659282, -73.8848435)         1
(40.754145, -73.9648229)          1
(40.887714, -73.8186184)          1
(40.8684168, -73.8652941)         1
(40.8862944, -73.827161)          1
(40.7676962, -73.7328942)         1
(40.764149, -73.9552514)          1
(40.6399035, -73.8861856)         1

[43141 rows x 1 columns]

In [51]:
locationsCountsFrame['LAT'] = locationsCountsFrame.index.str.split(',').str.get(0).str.replace('(', '')
locationsCountsFrame['LON'] = locationsCountsFrame.index.str.split(',').str.get(1).str.replace(')', '')

#locationsCountsFrame.index

In [74]:
#locationsCountsFrame

sums = collisions.groupby(['LOCATION'])[['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']].sum()

In [75]:
result = locationsCountsFrame.combine_first(sums)
result

,LAT,LOCATION,LON,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED
"(40.4989488, -74.2443651)",40.4989488,2,-74.2443651,0,0
"(40.4991346, -74.2434848)",40.4991346,1,-74.2434848,0,0
"(40.4994787, -74.2417278)",40.4994787,1,-74.2417278,1,0
"(40.499659, -74.2408224)",40.499659,1,-74.2408224,0,0
"(40.499842, -74.2399169)",40.499842,2,-74.2399169,0,0
"(40.5000251, -74.2390115)",40.5000251,3,-74.2390115,0,0
"(40.5002081, -74.2381024)",40.5002081,1,-74.2381024,0,0
"(40.5004173, -74.2364851)",40.5004173,1,-74.2364851,0,0
"(40.500737, -74.2488483)",40.500737,2,-74.2488483,0,0
"(40.5011072, -74.2413094)",40.5011072,1,-74.2413094,0,0
"(40.5016305, -74.2443461)",40.5016305,1,-74.2443461,0,0
"(40.5017623, -74.2351486)",40.5017623,1,-74.2351486,0,0
"(40.5019774, -74.242589)",40.5019774,2,-74.242589,0,0
"(40.5019881, -74.2334486)",40.5019881,3,-74.2334486,0,0
"(40.5021605, -74.24168)",40.5021605,2,-74.24168,2,0
"(40.502295, -74.2350498)",40.502295,1,-74.2350498,0,0
"(40.5023408, -74.2407781)",40.5023408,3,-74.2407781,0,0
"(40.5025184, -74.2437309)",40.5025184,1,-74.2437309,0,0
"(40.5025888, -74.2336521)",40.5025888,1,-74.2336521,2,0
"(40.5027754, -74.2518296)",40.5027754,4,-74.2518296,1,0
"(40.502878, -74.2513626)",40.502878,1,-74.2513626,0,0
"(40.5030437, -74.2419744)",40.5030437,1,-74.2419744,0,0
"(40.5030638, -74.2389216)",40.5030638,1,-74.2389216,0,0
"(40.5031959, -74.2478182)",40.5031959,1,-74.2478182,0,0
"(40.503211, -74.2497025)",40.503211,1,-74.2497025,0,0
"(40.5033886, -74.2488294)",40.5033886,3,-74.2488294,0,0
"(40.5035689, -74.2479383)",40.5035689,2,-74.2479383,0,0
"(40.5036309, -74.2381254)",40.5036309,1,-74.2381254,0,0
"(40.5036924, -74.2375754)",40.5036924,2,-74.2375754,0,0
"(40.5037576, -74.247022)",40.5037576,2,-74.247022,0,0
...,...,...,...,...,...
"(40.9083124, -73.9089157)",40.9083124,1,-73.9089157,0,0
"(40.9083444, -73.8980009)",40.9083444,1,-73.8980009,0,0
"(40.9084371, -73.9036734)",40.9084371,13,-73.9036734,3,0
"(40.9091775, -73.8965959)",40.9091775,1,-73.8965959,0,0
"(40.9092988, -73.9068124)",40.9092988,7,-73.9068124,1,0
"(40.9093158, -73.8977606)",40.9093158,1,-73.8977606,0,0
"(40.9095946, -73.8996089)",40.9095946,4,-73.8996089,0,0
"(40.9096076, -73.89869)",40.9096076,1,-73.89869,0,0
"(40.9096177, -73.8976842)",40.9096177,4,-73.8976842,0,0
"(40.9096277, -73.8965952)",40.9096277,18,-73.8965952,10,0
"(40.909675, -73.9005133)",40.909675,4,-73.9005133,5,0
"(40.9098158, -73.9013994)",40.9098158,8,-73.9013994,0,0
"(40.909951, -73.9022856)",40.909951,10,-73.9022856,4,0
"(40.9100257, -73.8966127)",40.9100257,1,-73.8966127,0,0
"(40.9101302, -73.9032151)",40.9101302,19,-73.9032151,6,0
"(40.9102013, -73.8966052)",40.9102013,13,-73.8966052,3,0
"(40.910323, -73.8976252)",40.910323,2,-73.8976252,0,0
"(40.9109055, -73.8983334)",40.9109055,3,-73.8983334,0,0
"(40.9109115, -73.905439)",40.9109115,2,-73.905439,0,0
"(40.9110435, -73.8992269)",40.9110435,3,-73.8992269,2,0
"(40.9112391, -73.9000876)",40.9112391,2,-73.9000876,0,0
"(40.9113269, -73.90656)",40.9113269,10,-73.90656,2,0
"(40.9114172, -73.8966322)",40.9114172,2,-73.8966322,0,0
"(40.9116566, -73.8972541)",40.9116566,1,-73.8972541,0,0
"(40.9117918, -73.8981042)",40.9117918,1,-73.8981042,0,0
"(40.9120185, -73.8999924)",40.9120185,2,-73.8999924,0,0
"(40.9120796, -73.9007846)",40.9120796,3,-73.9007846,1,0
"(40.9122231, -73.9016744)",40.9122231,4,-73.9016744,0,0
"(40.9124681, -73.9025894)",40.9124681,24,-73.9025894,2,0
"(40.9128276, -73.9025057)",40.9128276,1,-73.9025057,0,0

In [124]:
result.sort_values(by='LOCATION')

,LAT,LOCATION,LON,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED
"(40.9128276, -73.9025057)",40.9128276,1,-73.9025057,0,0
"(40.6304344, -74.1240191)",40.6304344,1,-74.1240191,0,0
"(40.7392482, -73.7936939)",40.7392482,1,-73.7936939,0,0
"(40.7391146, -73.9969147)",40.7391146,1,-73.9969147,0,0
"(40.7391137, -73.7494134)",40.7391137,1,-73.7494134,0,0
"(40.7390375, -73.9735456)",40.7390375,1,-73.9735456,1,0
"(40.6304724, -74.0181216)",40.6304724,1,-74.0181216,0,0
"(40.6304821, -73.9981987)",40.6304821,1,-73.9981987,0,0
"(40.7390245, -73.860399)",40.7390245,1,-73.860399,0,0
"(40.7390135, -73.8937711)",40.7390135,1,-73.8937711,0,0
"(40.6304305, -73.9663076)",40.6304305,1,-73.9663076,0,0
"(40.6305322, -74.0896712)",40.6305322,1,-74.0896712,0,0
"(40.6305399, -74.1063769)",40.6305399,1,-74.1063769,0,0
"(40.6305619, -74.1063445)",40.6305619,1,-74.1063445,0,0
"(40.7389911, -73.9965791)",40.7389911,1,-73.9965791,0,0
"(40.7389773, -73.9965899)",40.7389773,1,-73.9965899,0,0
"(40.6305703, -74.1061788)",40.6305703,1,-74.1061788,0,0
"(40.7389585, -73.8907797)",40.7389585,1,-73.8907797,0,0
"(40.7389264, -73.8284093)",40.7389264,1,-73.8284093,0,0
"(40.7389179, -73.8563035)",40.7389179,1,-73.8563035,0,0
"(40.7388951, -74.0005196)",40.7388951,1,-74.0005196,0,0
"(40.7389946, -73.9347283)",40.7389946,1,-73.9347283,0,0
"(40.6305884, -74.0281371)",40.6305884,1,-74.0281371,0,0
"(40.630393, -74.1135893)",40.630393,1,-74.1135893,0,0
"(40.7393547, -73.868063)",40.7393547,1,-73.868063,0,0
"(40.6302761, -74.0042404)",40.6302761,1,-74.0042404,0,0
"(40.7396658, -73.9374161)",40.7396658,1,-73.9374161,0,0
"(40.739635, -73.8482476)",40.739635,1,-73.8482476,0,0
"(40.6302891, -74.1653237)",40.6302891,1,-74.1653237,0,0
"(40.7396159, -73.8197613)",40.7396159,1,-73.8197613,0,0
...,...,...,...,...,...
"(40.7193963, -74.0018831)",40.7193963,282,-74.0018831,37,0
"(40.6687978, -73.9311201)",40.6687978,282,-73.9311201,115,0
"(40.7502939, -73.9948425)",40.7502939,284,-73.9948425,16,0
"(40.6631828, -73.9624487)",40.6631828,284,-73.9624487,108,0
"(40.6781627, -73.8974769)",40.6781627,286,-73.8974769,126,0
"(40.8027515, -73.933575)",40.8027515,287,-73.933575,68,0
"(40.7548409, -73.9841185)",40.7548409,292,-73.9841185,34,0
"(40.74478, -73.9758819)",40.74478,298,-73.9758819,44,0
"(40.680015, -73.8774282)",40.680015,302,-73.8774282,106,0
"(40.6528929, -73.8667311)",40.6528929,307,-73.8667311,55,2
"(40.7615508, -73.9665842)",40.7615508,311,-73.9665842,30,0
"(40.7832478, -73.9447234)",40.7832478,313,-73.9447234,24,0
"(40.7560353, -73.9869481)",40.7560353,317,-73.9869481,42,0
"(40.8571285, -73.8807926)",40.8571285,319,-73.8807926,103,0
"(40.7460781, -73.9749359)",40.7460781,322,-73.9749359,26,0
"(40.7241363, -73.9926041)",40.7241363,324,-73.9926041,48,0
"(40.8100528, -73.9251435)",40.8100528,329,-73.9251435,73,0
"(40.759308, -73.9652931)",40.759308,332,-73.9652931,32,0
"(40.820189, -73.8906752)",40.820189,334,-73.8906752,99,0
"(40.7595273, -73.999242)",40.7595273,334,-73.999242,10,0
"(40.7509908, -73.9906233)",40.7509908,347,-73.9906233,53,0
"(40.7584292, -73.9926328)",40.7584292,350,-73.9926328,52,0
"(40.7602226, -73.967462)",40.7602226,353,-73.967462,34,0
"(40.7334973, -73.8703694)",40.7334973,354,-73.8703694,50,0
"(40.7203211, -73.9940403)",40.7203211,368,-73.9940403,48,0
"(40.6585778, -73.8906229)",40.6585778,417,-73.8906229,164,0
"(40.6757357, -73.8968533)",40.6757357,433,-73.8968533,124,0
"(40.7572323, -73.9897922)",40.7572323,455,-73.9897922,64,0
"(40.7606005, -73.9643142)",40.7606005,472,-73.9643142,49,0
"(40.6960346, -73.9845292)",40.6960346,585,-73.9845292,73,1

In [81]:
result.to_csv('datasets/collision_counts.csv', sep=',')