In [1]:
import numpy as np
import pandas as pd
import itertools
from __future__ import division
from sklearn.tree import tree, DecisionTreeClassifier, export_graphviz
from sklearn import cluster
import geoplotlib as gpl

%matplotlib inline
pd.set_option("display.max_columns", 500)
pd.set_option("max_rows", 1000)

In [56]:
filePath = 'datasets/NYPD_Motor_Vehicle_Collisions_weather4.csv'
collisions = pd.read_csv(filePath)
collisions = collisions[pd.notnull(collisions.LOCATION) &\
                        pd.notnull(collisions.Conditions)]

In [55]:
collisions.head()

,Unnamed: 0,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Conditions,Precipitationmm,TemperatureC,VisibilityKm
41375,41375,12/31/2015,5:30,QUEENS,11420,40.681006,-73.812561,"(40.6810063, -73.812561)",LINDEN BOULEVARD,128 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,Unspecified,NaN,3363204,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,Mostly Cloudy,-,8.0,16.1
41376,41376,12/31/2015,5:40,NaN,NaN,40.822145,-73.887813,"(40.8221447, -73.8878132)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Outside Car Distraction,Pavement Slippery,NaN,NaN,NaN,3363688,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,Mostly Cloudy,-,8.0,16.1
41377,41377,12/31/2015,5:50,NaN,NaN,40.754901,-73.745477,"(40.7549013, -73.7454772)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Outside Car Distraction,NaN,NaN,NaN,NaN,3363266,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,Mostly Cloudy,-,8.0,16.1
41378,41378,12/31/2015,5:55,BRONX,10463,40.875683,-73.908378,"(40.8756831, -73.9083783)",BROADWAY,WEST 228 STREET,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,Traffic Control Disregarded,NaN,NaN,3363003,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,Mostly Cloudy,-,8.0,16.1
41379,41379,12/31/2015,6:45,NaN,NaN,40.754151,-73.722875,"(40.7541513, -73.7228746)",NaN,NaN,NaN,1,0,0,0,0,0,1,0,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,NaN,3363196,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,Mostly Cloudy,-,7.8,16.1

In [119]:
# def UTCtoActual(utcDate):
#     from_zone = tz.gettz('UTC')
#     to_zone = tz.gettz('America/New_York')
    
#     utc = datetime.strptime(utcDate.DateUTC, '%Y-%m-%d %H:%M:%S')\
#                   .replace(tzinfo=from_zone)\
#                   .astimezone(to_zone)
#     s = pd.Series([utc.year, utc.month, utc.day, utc.hour])
#     s.columns = ['Year', 'Month', 'Day', 'Hour']
#     return s

def location_condition_count(row):
    loc = row.LOCATION
    
    a = []
    for wc in collisions.Conditions.unique():
        con = collisions[(collisions.LOCATION == loc) & (collisions.Conditions == wc)]
        amount = len(con.index)
        a.append(amount)
        
    s = pd.Series(a)
    s.columns = collisions.Conditions.unique()    
    
    return s

In [ ]:
dt = pd.DataFrame()
dt['LOCATION'] = collisions.LOCATION.unique()#['(40.6810063, -73.812561)']#collisions.LOCATION.unique()
dt[collisions.Conditions.unique()] = dt.apply(location_condition_count, axis=1)
dt.head()