# Weather and Motor Vehicle Collisions

In [1]:
import pandas as pd
import datetime
from datetime import date
from dateutil.rrule import rrule, DAILY
from __future__ import division

pd.set_option('display.max_columns', None)

## Download weather data

In [ ]:
start_date = date(2012, 7, 1)
end_date = date(2016, 2, 29)

# data = pd.DataFrame()
frames = []
url_template = 'https://www.wunderground.com/history/airport/KNYC/%s/%s/%s/DailyHistory.html?req_city=New+York&req_state=NY&req_statename=New+York&reqdb.zip=10001&reqdb.magic=4&reqdb.wmo=99999&format=1.csv'

month = ""

for dt in rrule(DAILY, dtstart=start_date, until=end_date):
    if (month != dt.strftime("%m")):
        month = dt.strftime("%m")
        print 'Downloading to memory: ' + dt.strftime("%Y-%m")    
    frames.append(pd.read_csv(url_template % (dt.strftime("%Y"),dt.strftime("%m"), dt.strftime("%d"))))

print "Saving data to csv..."
data = pd.concat(frames)
data.to_csv('weather_data_nyc.csv', sep=',')

## Cleaning the weather dataset
### Convert weather DateUTC to local time

In [2]:
from datetime import datetime
from dateutil import tz

weather = pd.read_csv('datasets/weather_data_nyc_clean.csv')

def UTCtoActual(utcDate):
    from_zone = tz.gettz('UTC')
    to_zone = tz.gettz('America/New_York')
    
    utc = datetime.strptime(utcDate.DateUTC, '%m/%d/%Y %H:%M:%S')\
                  .replace(tzinfo=from_zone)\
                  .astimezone(to_zone)
    s = pd.Series([utc.year, utc.month, utc.day, utc.hour])
    s.columns = ['Year', 'Month', 'Day', 'Hour']
    return s
    
#weather['DateActual'] = weather.DateUTC.map()

In [17]:
weather[['Year', 'Month', 'Day', 'Hour']] = weather.apply(UTCtoActual, axis=1)
weather.to_csv('datasets/weather_data_nyc_clean2.csv')

### Merge weather and NYPD MVC datasets

In [2]:
incidents = pd.read_csv('datasets/NYPD_Motor_Vehicle_Collisions.csv')
weather = pd.read_csv('datasets/weather_data_nyc_clean2.csv')
weather.head(1)

,Unnamed: 0,Conditions,DateUTC,Dew PointC,Events,Gust SpeedKm/h,Humidity,Precipitationmm,Sea Level PressurehPa,TemperatureC,TimeEDT,TimeEST,VisibilityKm,Wind Direction,Wind SpeedKm/h,WindDirDegrees,Year,Month,Day,Hour
0,0,Clear,7/1/2012 4:51:00,17.2,NaN,NaN,58.0,NaN,1008.6,26.1,12:51 AM,NaN,16.1,West,13,280,2012,7,1,0

In [ ]:
weather[(weather.Year == 2015) & (weather.Month == 11) & (weather.Day == 27)]

In [146]:
features0 = ['Conditions', 'TemperatureC']
features = ['Conditions', \
            'Precipitationmm', \
            'TemperatureC', 'VisibilityKm']

def lookup_weather2(year, month, day, hour):
    w = weather[(weather.Year == year) & (weather.Month == month) & (weather.Day == day) & (weather.Hour == hour)]
    return w

def lookup_weather(date, time):
    month = int(date.split('/')[0])
    day = int(date.split('/')[1])
    year = int(date.split('/')[2])
    hour = int(time.split(':')[0])
    d = lookup_weather2(year, month, day, hour).head(1)
    if (d.empty):
        dt_back = datetime.datetime(year, month, day, hour) - datetime.timedelta(hours=1)
        dt_forward = datetime.datetime(year, month, day, hour) + datetime.timedelta(hours=1)
        
        d_back = lookup_weather2(dt_back.year, dt_back.month, dt_back.day, dt_back.hour)
        if (not d_back.empty): return d_back
        
        d_forward = lookup_weather2(dt_forward.year, dt_forward.month, dt_forward.day, dt_forward.hour)
        if (not d_forward.empty): return d_forward
    return d



def merge_weather(incident):
    date = incident.DATE
    time = incident.TIME
    #print "0"
    w = lookup_weather(date, time)
    #[unnamed, condition, dateUTC, Dew, Events, Gust, Humidity,Precipitationmm,Sea_Level_PressurehPa, TemperatureC] = w.values[0]

    #print "1"
    try:
        #print "2"
        #print w
        con = "-"
        temp = "-"
        rainmm = "-"
        viskm = "-"
        #print "2.5"
        if (not pd.isnull(w['Conditions'].iloc[0])):
            con = w['Conditions'].iloc[0]
        if (not pd.isnull(w['TemperatureC'].iloc[0])):
            temp = w['TemperatureC'].iloc[0]
        if (not pd.isnull(w['Precipitationmm'].iloc[0])):
            rainmm = w['Precipitationmm'].iloc[0]
        if (not pd.isnull(w['VisibilityKm'].iloc[0])):
            viskm = w['VisibilityKm'].iloc[0]
            
        #print 'con %s, temp %s, rainmm %s, viskm %s' % (con, temp, rainmm, viskm)
        
        #print "2.75"
        s = pd.Series([con, rainmm, temp, viskm])
        #print "3"
        #print str(len(w.values[0]))
        #s = pd.Series(w.values[0])
        #s = pd.Series([w['Conditions'].iloc[0], w['Dew PointC'].iloc[0], w['Gust SpeedKm/h'].iloc[0]])

        #s.columns = features
        return s
    except:
        #print "4"
        print date + "x" + time
        s = pd.Series([None,None,None,None])
        #s = pd.Series(["1","2","3","4","5","6","7","8","9"])
        #s = pd.Series([])
        #s.columns = features
        return s
    
    
    

#lookup_weather2(2016, 2, 14, 7)
#lookup_weather('03/14/2016', '3:27').values[0]
#[unnamed, condition, dateUTC, Dew, Events, Gust, Humidity,Precipitationmm,Sea_Level_PressurehPa, TemperatureC] = lookup_weather('01/27/2016', '3:27').values[0]

In [147]:
print "Applying weather data to incidents..."
incidents[features] = incidents[incidents.DATE.str.split('/').str.get(2) != '2016'].apply(merge_weather, axis=1)
print "Saving weather in-riched incident data..."
incidents.to_csv('datasets/NYPD_Motor_Vehicle_Collisions_weather3.csv', sep=',')

Applying weather data to incidents...
07/26/2014x11:15
07/26/2014x11:30
07/26/2014x11:40
07/26/2014x11:45
07/26/2014x11:45
07/26/2014x11:45
07/26/2014x12:03
07/26/2014x12:11
07/26/2014x12:15
07/26/2014x12:15
07/26/2014x12:30
07/26/2014x12:30
07/26/2014x11:25
07/26/2014x11:25
07/26/2014x11:30
07/26/2014x11:30
07/26/2014x12:15
07/26/2014x12:16
07/26/2014x12:20
07/26/2014x12:30
07/26/2014x12:30
07/26/2014x11:00
07/26/2014x11:00
07/26/2014x11:55
07/26/2014x11:00
07/26/2014x11:05
07/26/2014x11:10
07/26/2014x11:10
07/26/2014x11:15
07/26/2014x11:15
07/26/2014x11:18
07/26/2014x11:47
07/26/2014x11:50
07/26/2014x11:50
07/26/2014x11:55
07/26/2014x12:00
07/26/2014x12:30
07/26/2014x12:35
07/26/2014x12:40
07/26/2014x12:45
07/26/2014x11:00
07/26/2014x11:00
07/26/2014x12:15
07/26/2014x12:48
05/06/2014x5:50
05/06/2014x5:40
05/06/2014x5:40
05/06/2014x5:00
05/06/2014x5:20
05/06/2014x5:44
05/06/2014x5:55
09/18/2012x2:20
09/18/2012x2:30
09/18/2012x3:20
09/18/2012x2:55
09/18/2012x2:22
09/18/2012x1:45
09/18/2012x1:27
Saving weather in-riched incident data...

In [11]:
incidents[incidents.DATE.str.split('/').str.get(2) == '2016']

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/14/2016,3:27,QUEENS,11372.0,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3405169,OTHER,NaN,NaN,NaN,NaN
1,03/14/2016,2:00,NaN,NaN,NaN,NaN,NaN,PULASKI BRIDGE,EAGLE STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3405134,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
2,03/14/2016,2:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,3405070,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3,03/14/2016,0:45,MANHATTAN,10035.0,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3405059,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,03/13/2016,23:00,BROOKLYN,11206.0,40.706653,-73.950406,"(40.7066527, -73.9504063)",UNION AVENUE,MONTROSE AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3405121,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,03/13/2016,16:00,NaN,NaN,NaN,NaN,NaN,JAMAICA AVENUE,148 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Lost Consciousness,NaN,NaN,NaN,3404861,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
6,03/13/2016,9:48,BROOKLYN,11212.0,40.661997,-73.919593,"(40.661997, -73.9195931)",KINGS HIGHWAY,EAST 98 STREET,NaN,0,0,0,0,0,0,0,0,Passenger Distraction,Unspecified,NaN,NaN,NaN,3404744,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
7,03/13/2016,14:25,NaN,NaN,NaN,NaN,NaN,BRADLEY AVENUE,BRIELLE AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3405034,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
8,03/13/2016,19:55,NaN,NaN,NaN,NaN,NaN,OCEANIA STREET,48 AVENUE,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3405164,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
9,03/13/2016,9:46,QUEENS,11106.0,40.756580,-73.929752,"(40.75658, -73.9297516)",36 AVENUE,31 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3404995,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
10,03/13/2016,15:20,NaN,NaN,40.738068,-73.836559,"(40.7380682, -73.8365592)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404896,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
11,03/13/2016,16:00,QUEENS,11413.0,40.672174,-73.761021,"(40.6721741, -73.7610205)",BEDELL STREET,140 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3404948,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
12,03/13/2016,15:20,QUEENS,11105.0,40.779280,-73.900874,"(40.7792798, -73.9008742)",37 STREET,19 AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3405001,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
13,03/13/2016,9:25,NaN,NaN,NaN,NaN,NaN,FOREST AVENUE,JEWETT AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3405037,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
14,03/13/2016,15:20,MANHATTAN,10019.0,40.761719,-73.982807,"(40.7617191, -73.9828066)",WEST 51 STREET,7 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3404581,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
15,03/13/2016,9:15,STATEN ISLAND,10304.0,40.591737,-74.096676,"(40.5917371, -74.0966763)",ALTER AVENUE,JEFFERSON STREET,NaN,0,0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,3405044,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
16,03/13/2016,14:23,NaN,NaN,40.835486,-73.949394,"(40.8354859, -73.9493936)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,3405062,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
17,03/13/2016,15:17,NaN,NaN,40.678100,-74.002339,"(40.6781, -74.0023387)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404790,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,03/13/2016,15:15,MANHATTAN,10036.0,40.757828,-73.993070,"(40.7578281, -73.9930696)",9 AVENUE,WEST 41 STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,3404556,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
19,03/13/2016,15:10,BROOKLYN,11206.0,40.701076,-73.940420,"(40.7010761, -73.9404204)",SUMNER PLACE,FLUSHING AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404826,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
20,03/13/2016,14:52,BRONX,10459.0,40.819365,-73.893068,"(40.819365, -73.8930684)",BARRETTO STREET,SOUTHERN BOULEVARD,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,3404650,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
21,03/13/2016,14:45,MANHATTAN,10023.0,40.775487,-73.982164,"(40.7754866, -73.9821639)",WEST 68 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404597,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
22,03/13/2016,0:05,NaN,NaN,NaN,NaN,NaN,CONNER STREET,NEW ENGLAND THRUWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404698,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
23,03/13/2016,9:15,QUEENS,11357.0,40.787170,-73.806965,"(40.7871699, -73.8069646)",CRYDERS LANE,155 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3405145,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
24,03/13/2016,14:43,MANHATTAN,10128.0,40.783248,-73.944723,"(40.7832478, -73.9447234)",EAST 96 STREET,1 AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,3404594,TAXI,TAXI,NaN,NaN,NaN
25,03/13/2016,14:43,BROOKLYN,11221.0,40.693862,-73.929702,"(40.6938623, -73.9297023)",DEKALB AVENUE,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3404827,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
26,03/13/2016,14:41,NaN,NaN,NaN,NaN,NaN,EAST 125 STREET,1 AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,3404618,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
27,03/13/2016,14:40,NaN,NaN,40.781857,-73.825224,"(40.7818569, -73.8252243)",NaN,NaN,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,3404918,SPORT UTILITY / STATION WAGON,VAN,NaN,NaN,NaN
28,03/13/2016,14:37,BROOKLYN,11213.0,40.666022,-73.929461,"(40.6660219, -73.9294613)",FORD STREET,CARROLL STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3405097,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
29,03/13/2016,9:10,MANHATTAN,10017.0,40.753242,-73.966617,"(40.7532425, -73.9666173)",EAST 49 STREET,1 AVENUE,NaN,0,0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,3405055,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41345,01/01/2016,16:05,NaN,NaN,NaN,NaN,NaN,BEACH CHANNEL DRIVE,BEACH 116 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Fatigued/Drowsy,NaN,NaN,NaN,3363537,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41346,01/01/2016,16:08,BRONX,10457.0,40.847563,-73.894733,"(40.847563, -73.8947327)",MONTEREY AVENUE,EAST 178 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363736,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
41347,01/01/2016,16:50,QUEENS,11413.0,40.671978,-73.751486,"(40.6719783, -73.7514861)",139 AVENUE,222 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Unspecified,NaN,NaN,3363556,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
41348,01/01/2016,16:50,MANHATTAN,10036.0,40.759730,-73.991683,"(40.7597301, -73.9916833)",WEST 44 STREET,9 AVENUE,NaN,0,0,0,0,0,0,0,0,Illness,Unspecified,NaN,NaN,NaN,3363627,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41349,01/01/2016,16:10,BROOKLYN,11233.0,40.671899,-73.922299,"(40.6718993, -73.9222993)",PARK PLACE,RALPH AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363796,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41350,01/01/2016,16:14,BROOKLYN,11215.0,40.666169,-73.988808,"(40.6661692, -73.9888076)",5 AVENUE,14 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363529,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
41351,01/01/2016,16:15,BROOKLYN,11220.0,40.642058,-74.020420,"(40.6420578, -74.02042)",3 AVENUE,60 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3363791,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41352,01/01/2016,16:15,QUEENS,11102.0,40.768380,-73.921241,"(40.7683796, -73.9212409)",30 STREET,NEWTOWN AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3364427,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41353,01/01/2016,16:20,BRONX,10469.0,40.874406,-73.840036,"(40.8744065, -73.8400356)",BURKE AVENUE,WICKHAM AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363719,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41354,01/01/2016,13:00,BROOKLYN,11233.0,40.684450,-73.920305,"(40.6844498, -73.9203052)",MACON STREET,HOWARD AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363834,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
41355,01/01/2016,22:46,BRONX,10463.0,40.887081,-73.904135,"(40.8870811, -73.9041347)",WALDO AVENUE,WEST 238 STREET,NaN,0,0,0,0,0,0,0,0,Aggressive Driving/Road Rage,Unspecified,NaN,NaN,NaN,3365271,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41356,01/01/2016,1:10,NaN,NaN,40.762174,-73.756787,"(40.7621739, -73.7567868)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Tire Failure/Inadequate,NaN,NaN,NaN,NaN,3363974,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41357,01/01/2016,20:35,MANHATTAN,10048.0,40.713692,-74.013754,"(40.7136919, -74.0137542)",WEST STREET,VESEY STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363603,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
41358,01/01/2016,20:30,NaN,NaN,40.781857,-73.825224,"(40.7818569, -73.8252243)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3363937,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41359,01/01/2016,14:45,BROOKLYN,11249.0,40.717861,-73.962219,"(40.7178613, -73.9622195)",WYTHE AVENUE,NORTH 4 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3363871,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41360,01/01/2016,14:32,BRONX,10460.0,40.845203,-73.886745,"(40.8452032, -73.8867451)",EAST 179 STREET,MAPES AVENUE,NaN,0,0,0,0,0,0,0,0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working,NaN,NaN,NaN,3363733,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41361,01/01/2016,9:40,QUEENS,11358.0,40.761408,-73.803845,"(40.7614079, -73.8038446)",162 STREET,STATION ROAD,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3363951,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
41362,01/01/2016,8:00,NaN,NaN,40.717903,-73.832011,"(40.7179035, -73.8320112)",NaN,NaN,NaN,5,0,0,0,0,0,5,0,Unspecified,NaN,NaN,NaN,NaN,3363983,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41363,01/01/2016,7:13,NaN,NaN,40.698157,-73.869683,"(40.6981572, -73.8696833)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Outside Car Distraction,NaN,NaN,NaN,NaN,3364289,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41364,01/01/2016,5:00,NaN,NaN,40.767373,-73.950057,"(40.767373, -73.9500574)",NaN,NaN,NaN,3,0,0,0,0,0,3,0,Turning Improperly,Fatigued/Drowsy,Fatigued/Drowsy,Fatigued/Drowsy,Other Electronic Device,3364071,TAXI,PASSENGER VEHICLE,LIVERY VEHICLE,LIVERY VEHICLE,LIVERY VEHICLE
41365,01/01/2016,1:06,MANHATTAN,10025.0,40.793981,-73.972281,"(40.7939814, -73.9722814)",BROADWAY,WEST 95 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3363407,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
41366,01/01/2016,18:20,MANHATTAN,10025.0,40.796643,-73.968477,"(40.7966428, -73.9684772)",AMSTERDAM AVENUE,WEST 100 STREET,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Fatigued/Drowsy,NaN,NaN,NaN,3363651,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
41367,01/01/2016,16:40,NaN,NaN,40.767779,-73.903582,"(40.7677793, -73.9035816)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3364426,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
41368,01/01/2016,16:40,NaN,NaN,NaN,NaN,NaN,FULTON STREET,ARLINGTON PLACE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3364240,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
41369,01/01/2016,16:40,NaN,NaN,NaN,NaN,NaN,FARMERS BOULEVARD,BEDELL STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3363986,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41370,01/01/2016,15:27,QUEENS,11367.0,40.732038,-73.814918,"(40.7320381, -73.814918)",JEWEL AVENUE,KISSENA BOULEVARD,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3363930,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41371,01/01/2016,14:00,QUEENS,11429.0,40.708215,-73.732920,"(40.7082145, -73.7329197)",223 STREET,108 AVENUE,NaN,2,0,0,0,0,0,2,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3363554,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
41372,01/01/2016,11:50,QUEENS,11101.0,40.754430,-73.916074,"(40.75443, -73.9160742)",46 STREET,34 AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3364450,UNKNOWN,NaN,NaN,NaN,NaN
41373,01/01/2016,11:27,MANHATTAN,10010.0,40.738797,-73.977147,"(40.7387967, -73.977147)",1 AVENUE,EAST 26 STREET,NaN,0,0,0,0,0,0,0,0,Illness,Driver Inattention/Distraction,Unspecified,NaN,NaN,3363377,TAXI,PICK-UP TRUCK,TAXI,NaN,NaN
41374,01/01/2016,11:00,NaN,NaN,40.781937,-73.944271,"(40.7819374, -73.9442713)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,Unspecified,NaN,NaN,3363402,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,TAXI,NaN,NaN

## Make some nice data analysis

In [6]:
incidents = pd.read_csv('datasets/NYPD_Motor_Vehicle_Collisions.csv')
weather = pd.read_csv('datasets/weather_data_nyc_clean2.csv')

In [87]:
#03/02/2016x11:30

merge_weather(incidents[(incidents['DATE'] == '03/02/2016') & (incidents['TIME'] == '11:30')].iloc[3])

03/02/2016x11:30

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
dtype: object

In [47]:
incidents.tail(1).iloc[0]

DATE                                            07/01/2012
TIME                                                 14:40
BOROUGH                                      STATEN ISLAND
ZIP CODE                                             10303
LATITUDE                                           40.6368
LONGITUDE                                         -74.1579
LOCATION                         (40.6368184, -74.1579392)
ON STREET NAME                                UNION AVENUE
CROSS STREET NAME                         RICHMOND TERRACE
OFF STREET NAME                                        NaN
NUMBER OF PERSONS INJURED                                0
NUMBER OF PERSONS KILLED                                 0
NUMBER OF PEDESTRIANS INJURED                            0
NUMBER OF PEDESTRIANS KILLED                             0
NUMBER OF CYCLIST INJURED                                0
NUMBER OF CYCLIST KILLED                                 0
NUMBER OF MOTORIST INJURED                               0
NUMBER OF MOTORIST KILLED                                0
CONTRIBUTING FACTOR VEHICLE 1                  Unspecified
CONTRIBUTING FACTOR VEHICLE 2                  Unspecified
CONTRIBUTING FACTOR VEHICLE 3                          NaN
CONTRIBUTING FACTOR VEHICLE 4                          NaN
CONTRIBUTING FACTOR VEHICLE 5                          NaN
UNIQUE KEY                                          284652
VEHICLE TYPE CODE 1                      PASSENGER VEHICLE
VEHICLE TYPE CODE 2                                UNKNOWN
VEHICLE TYPE CODE 3                                    NaN
VEHICLE TYPE CODE 4                                    NaN
VEHICLE TYPE CODE 5                                    NaN
Name: 769053, dtype: object

In [52]:
lookup_weather('07/01/2012', '14:40')

,Unnamed: 0,Conditions,DateUTC,Dew PointC,Events,Gust SpeedKm/h,Humidity,Precipitationmm,Sea Level PressurehPa,TemperatureC,TimeEDT,TimeEST,VisibilityKm,Wind Direction,Wind SpeedKm/h,WindDirDegrees,Year,Month,Day,Hour
14,14,Partly Cloudy,7/1/2012 18:51:00,18.3,NaN,NaN,39.0,NaN,1008.1,33.9,2:51 PM,NaN,16.1,WSW,11.1,240,2012,7,1,14

In [136]:
lookup_weather('03/02/2016', '11:30')

Empty DataFrame
Columns: [Unnamed: 0, Conditions, DateUTC, Dew PointC, Events, Gust SpeedKm/h, Humidity, Precipitationmm, Sea Level PressurehPa, TemperatureC, TimeEDT, TimeEST, VisibilityKm, Wind Direction, Wind SpeedKm/h, WindDirDegrees, Year, Month, Day, Hour]
Index: []

In [139]:
dt = incidents[(incidents['DATE'] == '03/02/2016') & (incidents['TIME'] == '11:30')]
dt[features] = dt.apply(merge_weather, axis=1)

0
1
2
2.5
4
03/02/2016x11:30
0
1
2
2.5
4
03/02/2016x11:30
0
1
2
2.5
4
03/02/2016x11:30
0
1
2
2.5
4
03/02/2016x11:30
0
1
2
2.5
4
03/02/2016x11:30