In [21]:
import numpy as np
import pandas as pd
import itertools
from __future__ import division
import os
from sklearn import cluster

In [2]:
data_path = 'SFPD_Incidents_-_from_1_January_2003.csv'

data = pd.read_csv(data_path)

In [25]:
mask = (data.Category == 'PROSTITUTION') & (data.Y != 90)

filterByCat = data[mask]

In [24]:
reducted = filterByCat[['PdDistrict','X','Y']]

In [50]:
X = data.loc[mask][['X','Y']]

centers = {}

def knn(k):
    md = cluster.KMeans(n_clusters=k).fit(X)
    return md.predict(X),md.cluster_centers_

mdl3.cluster_centers_

array([[-122.47831658,   37.74518815],
       [-122.41771969,   37.78759671],
       [-122.41565475,   37.76154985]])

In [51]:
for i in range(2,7):
    reducted['K'+str(i)], centers[i] = knn(i)

In [55]:
centers

{2: array([[-122.41829076,   37.76059012],
        [-122.41771519,   37.78740293]]),
 3: array([[-122.41565475,   37.76154985],
        [-122.41771969,   37.78759671],
        [-122.47831658,   37.74518815]]),
 4: array([[-122.41771794,   37.78759954],
        [-122.41562085,   37.76167551],
        [-122.48642315,   37.75842179],
        [-122.45730222,   37.71961699]]),
 5: array([[-122.41582816,   37.76146367],
        [-122.41873463,   37.78764477],
        [-122.45730222,   37.71961699],
        [-122.40529189,   37.78518427],
        [-122.48642315,   37.75842179]]),
 6: array([[-122.41598914,   37.76172676],
        [-122.41873463,   37.78764477],
        [-122.4621254 ,   37.72049778],
        [-122.48647474,   37.75851639],
        [-122.4052441 ,   37.78512395],
        [-122.40404379,   37.72773672]])}

In [48]:
reducted.head()

      PdDistrict           X          Y  K3  K2  K4  K5  K6
670   TENDERLOIN -122.406402  37.786614   1   0   0   4   1
724   TENDERLOIN -122.408202  37.786885   1   0   0   4   1
727   TENDERLOIN -122.408231  37.787359   1   0   0   4   1
1105    SOUTHERN -122.400916  37.785457   1   0   0   4   1
1106    SOUTHERN -122.400916  37.785457   1   0   0   4   1

In [36]:
mdl3.predict(X)


reducted['K3'] = mdl3.predict(X)

In [49]:
reducted.to_csv('week_8_vis_1.csv', sep=',')